<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlConnection" connectionString="Data Source=**TO-DO**;Initial Catalog=BirdHouseProjectDb;Integrated Security=True;" />
        <add name="BirdHouseProject.Properties.Settings.SqlConnection"
            connectionString="Data Source = **TO-DO**;Initial Catalog=BirdHouseDB;Inegrated Security=True;" />
    </connectionStrings>
</configuration>